body {
     border: 1px dotted gray;
     padding: 20px;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("http://lorempixel.com/1140/283");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

p{
     font-variant: small-caps;
}

.project p{
     font-variant: small-caps;
}

body {
     margin: 0;
     width: 100%;
     height: 100vh;
     font-family: "Exo", sans-serif;
     color: #fff;
     background: linear-gradient(-45deg, #accf97, #9b7ae9, #23a6d5, #23d5ab);
     background-size: 400% 400%;
     animation: gradientBG 15s ease infinite;
 }

 
.footer-distributed{
	background-color: #292c2f;
  box-sizing: border-box;
  width: 100%;
	text-align: left;
	font: bold 8px sans-serif;
	padding: 16.5px 15px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top; 
}

/* Footer left */
 
.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 18px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer Center */
.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

/* Footer Right */ 
.footer-distributed .footer-right{ 
	width: 20%;
}

.footer-distributed .footer-me-about{ 
	line-height: 10px; 
	color:  #92999f; 
	font-size: 6.5px; 
	font-weight: normal; 
	margin: 0; 
}
 